$PageBackground: #70D0EC;

$TitleBackground: #89DBF1;

$Warning: #F39C12;

$Success: #18BC9C;

$Info: #3498DB;

$userInfoModalWidth: 325px;

$boardEditModal: 1200px;

$postEditModal: 400px;

$addressEditModal: 400px;