* {
  //border: 1px dashed;
}

html {
  background: $background;
}

.navbar {
  background-color: transparent;
}

.navbar .btn {
  margin-left: 6px;
  margin-right: 6px;
}

.navbar-default .navbar-brand {
  color: $title;
}

.navbar-default {
  font-weight: bold;
}

.navbar-default .navbar-brand:hover {
  color: $title;
}

.panel {
  border-style: none;
}

.panel-primary .panel-heading {
  background-color: $title;
  border-color: $title;
}

.ModalPanel {
  width: 65%;
  margin: 0 auto;
}

.IndexBackground {
  background: $background;
}