* {
  //border: 1px dashed;
}

html {
  background: $background url("../images/background-index.jpg") no-repeat;
  height: 2000px;
}

.navbar {
  background-color: transparent;
}

.navbar-default .navbar-brand {
  color: $title;
}

.navbar-default {
  font-weight: bold;
}

.navbar-default .navbar-brand:hover {
  color: $title;
}

.panel {
  border-style: none;
}

.panel-primary .panel-heading {
  background-color: $title;
  border-color: $title;
}

.ModalPanel {
  width: 65%;
  margin: 0 auto;
}