* {
  //border: 1px dashed;
}

body {
  background: $PageBackground;
}

.navbar {
  background-color: $TitleBackground;
}

.navbar .btn {
  margin-left: 6px;
  margin-right: 6px;
  width: 100px;
}

.navbar-default .navbar-brand {
  color: $Info;
}

.navbar-default {
  font-weight: bold;
}

.navbar-default .navbar-brand:hover {
  color: $Info;
}

.panel {
  border-style: none;
}

.form-control:focus {
  border-color: $Info;
}

.glyphicon-search {
  color: #ACB6C0;
}

.inner-addon {
  position: relative;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon .glyphicon {
  left: 0;
}

.right-addon .glyphicon {
  right: 0;
}

.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

.box-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}

.btn-group .active {
  box-shadow: none;
}

.RightExtend {
  padding-right: 5px;
}

.LeftExtend {
  padding-left: 5px;
}

.Extend {
  padding-right: 5px;
  padding-left: 5px;
}

.BoardListPanel > .panel-primary > .panel-heading {
  background-color: $Info;
  border-color: $Info;
}

.UserInfoModal > .panel-primary > .panel-heading {
  background-color: $Info;
  border-color: $Info;
}

.UserInfoModal .panel {
  position: relative;
  width: $userInfoModalWidth;
  right: $userInfoModalWidth / 2;
}

.BoardEditModal > .panel-primary > .panel-heading {
  background-color: $Info;
  border-color: $Info;
}

.BoardListPanel > .panel > .panel-body {
  background-color: $TitleBackground;
}

.BoardListPanel > .panel > .panel-footer {
  background-color: #50AFE2;
  border-color: #50AFE2;
}

.BoardEditModal .panel {
  position: relative;
  width: $boardEditModal;
  right: $boardEditModal / 2;
}

.Board > .panel-primary > .panel-heading {
  background-color: #50AFE2;
  border-color: #50AFE2;
  cursor: hand;
}

.Board > .panel > .panel-footer {
  background-color: #50AFE2;
  border-color: #50AFE2;
}

.Separator {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Address {
  width: 80%;
  margin: 5px auto;
}

.BoardListPanel {
  position: relative;
  top: 80px;
  width: 70%;
  margin: 0 auto;
}

.BoardToolbar .btn {
  margin-left: 13px;
  margin-right: -6px;
}

.ConfirmWindow {
  position: relative;
  width: $userInfoModalWidth;
  right: $userInfoModalWidth / 2;
}

.ConfirmWindow .panel .panel-body {
  position: relative;
  top: 6px;
}

.UserInfoFormButton .form-group {
  margin-bottom: 8px;
}

.FullTitle {
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.HalfTitle {
  white-space: nowrap;
  display: inline-block;
  width: 55%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Right {
  float: right;
}

.Left {
  float: left;
}

.LabelFont {
  font-size: small;
}

.Link {
  color: $Info;
}

.HalfTitle .a:hover {
  color: $Info;
}

.PreLine {
  white-space: pre-line;
}

.ParagraphOverflow {
  max-height: 136.5px;
  overflow: scroll;
  max-width: 100%;
  overflow-x: hidden;
}

p {
  word-break: normal;
}