<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Addrest</title>
    <link rel="shortcut icon" href="{{=URL(r=request,c='static',f='images/favicon.ico')}}" type="image/x-icon" />
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/addrest.css')}}"/>
    <script type="text/javascript" src="{{=URL('static','js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/react.min.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/boron.min.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/JSXTransformer.js')}}"></script>
    <script type="text/jsx" src="{{=URL('static','js/components.js')}}"></script>
</head>

<body>
    <script type="text/jsx">
        React.render(
            <MainBody />,
            document.body
        );
    </script>
</body>
</html>