/* line 5, ../sass/_main.scss */
body {
  background: #70D0EC;
}

/* line 9, ../sass/_main.scss */
.navbar {
  background-color: #89DBF1;
}

/* line 13, ../sass/_main.scss */
.navbar .btn {
  margin-left: 6px;
  margin-right: 6px;
  width: 100px;
}

/* line 19, ../sass/_main.scss */
.navbar-default .navbar-brand {
  color: #3498DB;
}

/* line 23, ../sass/_main.scss */
.navbar-default {
  font-weight: bold;
}

/* line 27, ../sass/_main.scss */
.navbar-default .navbar-brand:hover {
  color: #3498DB;
}

/* line 31, ../sass/_main.scss */
.panel {
  border-style: none;
}

/* line 35, ../sass/_main.scss */
.form-control:focus {
  border-color: #3498DB;
}

/* line 39, ../sass/_main.scss */
.glyphicon-search {
  color: #ACB6C0;
}

/* line 43, ../sass/_main.scss */
.inner-addon {
  position: relative;
}

/* line 47, ../sass/_main.scss */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* line 53, ../sass/_main.scss */
.left-addon .glyphicon {
  left: 0;
}

/* line 57, ../sass/_main.scss */
.right-addon .glyphicon {
  right: 0;
}

/* line 61, ../sass/_main.scss */
.left-addon input {
  padding-left: 30px;
}

/* line 65, ../sass/_main.scss */
.right-addon input {
  padding-right: 30px;
}

/* line 69, ../sass/_main.scss */
.box-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* line 72, ../sass/_main.scss */
.box-shadow--3dp {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

/* line 75, ../sass/_main.scss */
.box-shadow--4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

/* line 78, ../sass/_main.scss */
.box-shadow--6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

/* line 82, ../sass/_main.scss */
.btn-group .active {
  box-shadow: none;
}

/* line 86, ../sass/_main.scss */
.RightExtend {
  padding-right: 5px;
}

/* line 90, ../sass/_main.scss */
.LeftExtend {
  padding-left: 5px;
}

/* line 94, ../sass/_main.scss */
.Extend {
  padding-right: 5px;
  padding-left: 5px;
}

/* line 99, ../sass/_main.scss */
.BoardListPanel > .panel-primary > .panel-heading {
  background-color: #3498DB;
  border-color: #3498DB;
}

/* line 104, ../sass/_main.scss */
.UserInfoModal > .panel-primary > .panel-heading {
  background-color: #3498DB;
  border-color: #3498DB;
}

/* line 109, ../sass/_main.scss */
.UserInfoModal .panel {
  position: relative;
  width: 325px;
  right: 162.5px;
}

/* line 115, ../sass/_main.scss */
.BoardEditModal > .panel-primary > .panel-heading {
  background-color: #3498DB;
  border-color: #3498DB;
}

/* line 120, ../sass/_main.scss */
.BoardListPanel > .panel > .panel-body {
  background-color: #89DBF1;
}

/* line 124, ../sass/_main.scss */
.BoardListPanel > .panel > .panel-footer {
  background-color: #50AFE2;
  border-color: #50AFE2;
}

/* line 129, ../sass/_main.scss */
.BoardEditModal .panel {
  position: relative;
  width: 400px;
  right: 200px;
}

/* line 135, ../sass/_main.scss */
.Board > .panel-primary > .panel-heading {
  background-color: #50AFE2;
  border-color: #50AFE2;
}

/* line 140, ../sass/_main.scss */
.Separator {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 145, ../sass/_main.scss */
.Address {
  width: 80%;
  margin: 5px auto;
}

/* line 150, ../sass/_main.scss */
.BoardListPanel {
  position: relative;
  top: 80px;
  width: 70%;
  margin: 0 auto;
}

/* line 157, ../sass/_main.scss */
.BoardToolbar .btn {
  margin-left: 13px;
  margin-right: -6px;
}

/* line 162, ../sass/_main.scss */
.ConfirmWindow {
  position: relative;
  width: 325px;
  right: 162.5px;
}

/* line 168, ../sass/_main.scss */
.ConfirmWindow .panel .panel-body {
  position: relative;
  top: 6px;
}

/* line 173, ../sass/_main.scss */
.UserInfoFormButton .form-group {
  margin-bottom: 8px;
}
