/* line 5, ../sass/_main.scss */
html {
  background: #FFE071 url("../images/background-index.jpg") no-repeat;
  height: 2000px;
}

/* line 10, ../sass/_main.scss */
.navbar {
  background-color: transparent;
}

/* line 14, ../sass/_main.scss */
.navbar-default .navbar-brand {
  color: #F39C12;
}

/* line 18, ../sass/_main.scss */
.navbar-default {
  font-weight: bold;
}

/* line 22, ../sass/_main.scss */
.navbar-default .navbar-brand:hover {
  color: #F39C12;
}

/* line 26, ../sass/_main.scss */
.panel {
  border-style: none;
}

/* line 30, ../sass/_main.scss */
.panel-primary .panel-heading {
  background-color: #F39C12;
  border-color: #F39C12;
}

/* line 35, ../sass/_main.scss */
.ModalPanel {
  position: relative;
  width: 50%;
  margin: 0 auto;
}
